node_modules/
.env
.env.local
.env.*.local
pnpm-lock.yaml
# build
.next/
dist/
# docker
docker-compose.override.yml
# data
data/**
!data/.keep
!data/provincial/
!data/provincial/**/*.md
!data/normativas/
!data/normativas/**/*.md
